@import '../../assets/styles/mixins/section-container';

.root {
  background-color: #fff;
}

.container {
  @include section-container(0, 50, 97, 50);

  @media screen and (max-width: 1006px) {
    padding: 0 30px 79px 30px;
  }

  @media screen and (max-width: 560px) {
    padding: 0 20px 70px 20px;
  }
}
