@import '../../assets/styles/mixins/_main-text-font.scss';

.form {
  display: flex;
  flex-direction: column;
  width: 505px;
  margin: 27px 0 29px;
  padding: 0;

  @media screen and (max-width: 986px) {
    margin-top: 9px;
    margin-bottom: 27px;
    width: min(100%, 273px);
  }

  @media screen and (max-width: 531px) {
    margin-top: 0;
    width: 100%;
    margin-bottom: 20px;
  }
}

.label {
  @include main-text-font(20, 500, 1.25);
  letter-spacing: -0.4px;

  &:not(:first-child) {
    margin-top: 30.5px;

    @media screen and (max-width: 986px) {
      margin-top: 19.5px;
    }
  }

  &:nth-child(3) {
    margin-top: 30px;

    @media screen and (max-width: 986px) {
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 986px) {
    font-size: 18px;
    line-height: 1.38;
    letter-spacing: -0.36px;
  }

  @media screen and (max-width: 531px) {
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: -0.32px;
  }
}

.input {
  @include main-text-font(18, 400, 1.38);

  padding: 10px 0 10.5px;
  outline: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #667085;
  border-left: none;

  &::placeholder {
    @include main-text-font(18, 400, 1.38, #667085);
    letter-spacing: -0.36px;

    @media screen and (max-width: 986px) {
      font-size: 16px;
      line-height: 1.56;
      letter-spacing: -0.32px;
    }

    @media screen and (max-width: 531px) {
      font-size: 14px;
      line-height: 1.78;
      letter-spacing: -0.28px;
    }
  }
}

.checkboxLabel {
  @include main-text-font(16, 400, 1.56, #667085);
  display: flex;
  gap: 14px;
  margin-top: 18.5px;
  letter-spacing: -0.32px;

  @media screen and (max-width: 986px) {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.24px;
  }

  @media screen and (max-width: 531px) {
    font-size: 10px;
    line-height: 2.5;
    letter-spacing: -0.2px;
  }
}

.checkboxInvisible {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.checkboxInvisible + .checkboxVisible {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #667085;
  border-radius: 2px;
  transition: opacity 0.5s, background-image 0.2s linear;

  &:hover {
    opacity: 0.8;
  }
}

.checkboxInvisible:checked + .checkboxVisibleTypeChecked {
  background-image: url('../../assets/images/feedbackform-checked-icon.svg');
  background-position: center;
}
