.root {
  width: min(100%, 992px);
  margin: 38px auto 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media screen and (max-width: 986px) {
    gap: 20px;
    margin-top: 30px;
  }

  @media screen and (max-width: 531px) {
    gap: 15px;
  }
}
