.root {
  font-size: 0;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.image {
  width: 128.09px;
  height: 48px;
  padding-top: 24px;
  padding-bottom: 24px;

  @media screen and (max-width: 884px) {
    width: 128.11px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 1px;
  }

  @media screen and (max-width: 560px) {
    width: 98px;
    height: 37.32px;
    padding-top: 7.11px;
    padding-bottom: 5.57px;
    margin-left: 0;
  }
}

.imageTypeSpeakerCard {
  padding: 0;
  width: 127.54px;
  margin-top: 2px;

  @media screen and (max-width: 986px) {
    width: 93px;
    height: 35px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 3px;
  }

  @media screen and (max-width: 720px) {
    width: 75px;
    height: 28px;
  }

  @media screen and (max-width: 531px) {
    width: 58px;
    height: 21px;
  }
}

.imageTypeFooter {
  width: 64.05px;
  height: 24px;
  padding: 0;

  @media screen and (max-width: 943px) {
    display: none;
  }
}
