@import '../../assets/styles/mixins/_main-text-font.scss';

.root {
  @include main-text-font(18, 500, 1.3, #fff);
  text-decoration: none;
  padding: 16px 52px;
  box-sizing: border-box;
  background-color: #db1515;
  border-radius: 8px;
  display: block;
  grid-row: 5/6;
  width: 267px;
  height: 56px;
  transition: opacity 0.3s ease-in-out;

  &:not(.rootTypeHeader, .rootTypeLead):hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 986px) {
    &:not(.rootTypeLead, .rootTypeCentered, .rootTypePracticeActivity, .rootTypeFeedback) {
      margin-right: 30px;
      margin-bottom: 2px;
      align-self: center;
    }
  }

  @media screen and (max-width: 531px) {
    &:not(.rootTypeLead, .rootTypeCentered, .rootTypePracticeActivity, .rootTypeFeedback) {
      margin-right: 20px;
      margin-bottom: 1px;
    }
  }
}

.rootTypeHeader {
  background-color: #0c999c;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.7;
  padding: 4px 16px;
  width: 181px;
  height: 32px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    color: #0c999c;
    background-color: #fff;
  }
}

.rootTypeLead {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.9;
  letter-spacing: -0.28px;
  background-color: transparent;
  color: #0c999c;
  padding: 0 15px 2px 15px;
  border: 1.5px solid #0c999c;
  border-radius: 5px;
  width: auto;
  height: auto;
  position: relative;
  top: -1px;

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    color: #fff;
    background-color: #0c999c;
  }
}

.rootTypeCentered {
  margin-inline: auto;
}

.rootTypeTargetAudience {
  width: 459px;

  @media screen and (max-width: 531px) {
    width: 335px;
    height: 80px;
    padding-left: 51px;
    padding-right: 51px;
    text-align: center;
    margin-left: 4px;
  }
}

.rootTypePracticeActivity {
  width: 282px;

  @media screen and (max-width: 531px) {
    width: 258px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.rootTypeHowItWillGo {
  width: 265px;
}

.rootTypeFeedback {
  grid-row: 4/5;
  width: 220px;
  padding-left: 29.73px;
  padding-right: 22.65px;
  margin-top: 1px;

  @media screen and (max-width: 986px) {
    margin-top: 0;
    margin-left: 1px;
  }

  @media screen and (max-width: 531px) {
    margin-left: 48px;
    margin-top: 5px;
  }
}
