@mixin section-container($top, $right, $bottom, $left: null) {
  box-sizing: border-box;
  width: min(100%, 1440px);
  margin: 0 auto;
  padding: $top + px $right + px $bottom + px;

  @if $left != null {
    padding-left: $left + px;
  }
}
