.root {
  width: 26px;
  height: 47px;
  background-color: transparent;
  background-image: url('../../assets/images/cardslider-right-arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  top: 177px;
  right: 8.26%;
  z-index: 3;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 1360px) {
    &:not(.rootTypeAboutPracticum, .rootTypeLeftAboutPracticum) {
      right: 4.13%;
    }
  }

  @media screen and (max-width: 986px) {
    &:not(.rootTypeAboutPracticum, .rootTypeLeftAboutPracticum) {
      display: none;
    }
  }
}

.rootTypeAboutPracticum {
  position: static;
  border: 1px solid #e4e7ec;
  box-sizing: border-box;
  width: 56px;
  height: 56px;
  border-radius: 26px;
  background-color: #0c999c;
  background-image: none;
  background-size: auto;
  background-position: center;
  margin-right: 21px;
  transition: background-color 0.3s ease-in-out;

  &:disabled {
    background-color: #fff;

    svg {
      path {
        stroke: #667085;
      }
    }
  }

  svg {
    path {
      transition: stroke 0.3s ease-in-out;
    }
  }

  @media screen and (max-width: 531px) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-size: 18px 18px;
  }
}

.rootTypeLeft {
  transform: rotateY(180deg);
  left: 15.625%;

  @media screen and (max-width: 1360px) {
    left: 7.812%;
  }
}

.rootTypeLeftAboutPracticum {
  margin-right: 0;
  margin-left: 21px;

  @media screen and (max-width: 986px) {
    margin-left: 22px;
  }

  @media screen and (max-width: 531px) {
    margin-left: 20px;
  }
}
