.root {
  width: 128px;
  height: 48px;

  @media screen and (max-width: 986px) {
    width: 160px;
    height: 34px;
  }

  @media screen and (max-width: 720px) {
    width: 128px;
    height: 27px;
  }

  @media screen and (max-width: 531px) {
    width: 95px;
    height: 20px;
  }
}
