@import '../../assets/styles/mixins/section-container';

.root {
  background-color: #fff;
}

.container {
  @include section-container(0, 120, 86);

  display: grid;
  grid-template-columns: 1fr 315px;
  gap: 10px 15px;
  overflow: hidden;

  @media screen and (max-width: 1360px) {
    padding-inline: 70px;
  }

  @media screen and (max-width: 1243px) {
    padding-inline: 50px;
  }

  @media screen and (max-width: 1006px) {
    padding-inline: 30px;
    padding-bottom: 70px;
  }

  @media screen and (max-width: 986px) {
    grid-template-columns: minmax(258px, 1fr) minmax(207px, 1fr);
  }

  @media screen and (max-width: 560px) {
    padding: 0 20px 74px 20px;
  }

  @media screen and (max-width: 531px) {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
