@import '../../assets/styles/mixins/section-flex-container';

.container {
  @include section-flex-container(96, 0, 94, 90);

  @media screen and (max-width: 1360px) {
    padding-left: 70px;
  }

  @media screen and (max-width: 1243px) {
    padding-left: 50px;
  }

  @media screen and (max-width: 1006px) {
    padding: 83px 30px 83px 30px;
  }

  @media screen and (max-width: 560px) {
    padding: 70px 20px 70px 20px;
  }
}

.cardList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 22px;
  transition: transform 0.3s ease-in-out;

  @media screen and (max-width: 986px) {
    gap: 20px;
  }
}
