@import '../../assets/styles/mixins/_main-text-font.scss';

.root {
  margin-top: 40px;
  margin-bottom: 132px;
  width: 100%;

  @media screen and (max-width: 986px) {
    display: none;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.crumbLink {
  @include main-text-font(14, 400, 1.71, #0c999c);
  text-decoration: none;
  display: inline-block;
}

.crumbSpan {
  @include main-text-font(14, 500, 1.71, #d1d5db);
  display: inline-block;
  width: 20px;
  text-align: center;
}
