html {
  scroll-behavior: smooth;
}

.page {
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  text-rendering: optimizelegibility;
}

.content {
  min-width: 375px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
